<div
  class="fixed left-5 top-5 flex items-center gap-1 cursor-pointer"
  routerLink="/dashboard"
>
  <img src="/logo.png" alt="logo" class="w-8" />
  <h1 class="font-pacifico">AirHive</h1>
</div>
<section class="h-[100vh] flex justify-evenly items-center">
  <div>
    <h2 class="text-9xl mb-2">404</h2>
    <p class="text-xl mb-2">We couldn't find the page you are looking for.</p>
    <button class="textBtn" routerLink="/dashboard">
      Go back to my dashboard
    </button>
  </div>
  <img src="/imgs/notFound.png" alt="not found image" class="w-[40%] h-auto" />
</section>
