<section class="flex items-center justify-center bg-background">
  <form
    class="bg-white dark:bg-secondary dark:border-text rounded-lg shadow-lg p-8 w-full max-w-md flex flex-col gap-5"
    autocomplete="off"
  >
    <div class="flex flex-col items-center mb-4">
      <h1 class="text-3xl text-primary dark:text-text">Log In</h1>
    </div>
    <div>
      <label for="name" class="block mb-1 text-text dark:text-text/80"
        >Name</label
      >
      <input
        id="name"
        type="text"
        class="border border-primary dark:border-text rounded-md p-2 w-full dark:bg-secondary text-text dark:text-text placeholder:text-black/30 dark:placeholder:text-amber-400/30 focus:border-primary focus:dark:border-text focus:ring-0 outline-none placeholder-opacity-70"
        placeholder="enter your name"
        required
      />
    </div>
    <div>
      <label for="password" class="block mb-1 text-text dark:text-text/80"
        >Password</label
      >
      <input
        id="password"
        type="password"
        class="border border-primary dark:border-text rounded-md p-2 w-full dark:bg-secondary text-text dark:text-text placeholder:text-black/30 dark:placeholder:text-amber-400/30 focus:border-primary focus:dark:border-text focus:ring-0 outline-none placeholder-opacity-70"
        placeholder="write your password here"
        required
      />
    </div>
    <button
      type="submit"
      class="cursor-pointer w-full mt-2 py-2 rounded-md bg-primary text-background dark:bg-text dark:text-secondary font-semibold hover:opacity-90 transition"
    >
      Log In
    </button>
    <p class="text-center text-sm text-text/70 mt-2">
      Don't have an account?
      <a
        routerLink="/signup"
        class="cursor-pointer text-primary dark:text-text underline hover:opacity-80"
        >Sign up</a
      >
    </p>
  </form>
</section>
