.notification-center {
  width: 90%;
  margin: auto;
  max-width: 100vw;
}

.notification-item.unread {
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--primary-color) 4px,
    transparent 4px
  );
}

.notification-item.unread::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background: var(--primary-color);
}

.notification-item {
  position: relative;
}

/* Custom scrollbar for notification list */
.notification-center ::-webkit-scrollbar {
  width: 6px;
}

.notification-center ::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 3px;
}

.notification-center ::-webkit-scrollbar-track {
  background: transparent;
}
