<nav
  class="flex justify-between items-center p-5 fixed top-0 left-0 right-0 bg-background z-50"
>
  <div class="flex items-center gap-1 cursor-pointer" routerLink="/dashboard">
    <img src="/logo.png" alt="logo" class="w-8" />
    <h1 class="font-pacifico">AirHive</h1>
  </div>

  <div class="flex gap-3">
    <button
      (click)="addPrinter()"
      title="Toggle Dark Mode"
      class="textBtn flexed"
    >
      add printer
    </button>

    <button
      (click)="toggleDarkMode()"
      title="Toggle Dark Mode"
      class="iconBtn flexed"
    >
      <i class="fa-solid fa-moon text-text"></i>
    </button>

    <button
      (click)="toggleNotifications()"
      title="Toggle Dark Mode"
      class="iconBtn flexed"
    >
      <i class="fa-solid fa-bell"></i>
    </button>

    <button
      title="Toggle Dark Mode"
      class="iconBtn flexed"
      routerLink="/userCenter"
    >
      <i class="fa-solid fa-user"></i>
    </button>
  </div>
</nav>
<div class="h-20"></div>
<!-- This div is to ensure the navbar doesn't overlap with the content -->
