<div class="w-[400px] h-[250px] bg-white dark:bg-dark rounded-lg shadow-lg">
  <h3 class="w-[100%] bg-primary rounded-t-lg text-center text-xl p-2">PR-1</h3>
  <div class="px-4 py-3">
    <div class="flex justify-between">
      <!-- text -->
      <div>
        <h4 class="text-xl">drone frame</h4>
        <p class="text-sm">
          <span class="text-primary">1</span> of
          <span class="text-primary">2</span>
        </p>
      </div>
      <!-- buttons -->
      <ul class="list-none flex flex-row-reverse gap-2">
        <li
          class="border border-primary bg-primary text-background rounded-sm w-7 h-7 flexed cursor-pointer hover:bg-background hover:text-primary"
        >
          <i class="text-[12px] fa-solid fa-gear"></i>
        </li>
        <li
          class="border border-primary text-primary rounded-sm w-7 h-7 flexed cursor-pointer hover:bg-primary hover:text-background"
        >
          <i class="text-[12px] fa-solid fa-terminal"></i>
        </li>
        <li
          class="border border-primary text-primary rounded-sm w-7 h-7 flexed cursor-pointer hover:bg-primary hover:text-background"
        >
          <i class="text-[12px] fa-solid fa-pause"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
