<div
  class="w-[260px] h-[200px] md:w-[300px] md:h-[210px] bg-white dark:bg-secondary rounded-lg shadow-lg relative overflow-hidden"
>
  <h3
    class="w-full bg-primary rounded-t-lg text-center text-xl p-2 dark:bg-secondary dark:border-b dark:border-primary"
  >
    {{ printer.name }}
  </h3>
  <div class="px-4 py-3">
    <!-- title and control buttons -->
    <div class="flex justify-between">
      <!-- text -->
      <div>
        <h4 class="text-xl">drone frame</h4>
      </div>
      <!-- buttons -->
      <ul class="list-none flex flex-row-reverse gap-2">
        <li
          (click)="goToPrinter(printer.ip)"
          title="Printer Page"
          class="border border-primary bg-primary text-background rounded-sm w-7 h-7 flexed cursor-pointer hover:bg-background hover:text-primary"
        >
          <i class="fa-solid fa-print"></i>
        </li>
        @if (printer.status.toLowerCase() != 'idle') { @if (printing) {
        <li
          title="Pause"
          (click)="togglePause()"
          class="border border-primary text-primary rounded-sm w-7 h-7 flexed cursor-pointer hover:bg-primary hover:text-background"
        >
          <i class="text-[12px] fa-solid fa-pause"></i>
        </li>

        } @else {
        <li
          title="Play"
          (click)="togglePause()"
          class="border border-primary text-primary rounded-sm w-7 h-7 flexed cursor-pointer hover:bg-primary hover:text-background"
        >
          <i class="text-[12px] fa-solid fa-play"></i>
        </li>
        } } @else {
        <li
          title="Play"
          class="border border-gray-500 text-gray-500 rounded-sm w-7 h-7 flexed"
        >
          <i class="text-[12px] fa-solid fa-play"></i>
        </li>
        }
      </ul>
    </div>

    <!-- progress bar -->

    @if (progress == 0 || printer.status.toLowerCase() == "idle") {
    <div class="w-full h-5 bg-gray-400 text-secondary mt-5 rounded-sm flexed">
      idle
    </div>
    }@else {
    <div
      class="w-full h-5 border border-primary rounded-sm mt-8 overflow-hidden"
    >
      <div
        class="h-5 bg-primary text-secondary flexed"
        [style.width.%]="progress"
      >
        {{ progress }}%
      </div>
    </div>
    } @if (this.printer.status.toLowerCase() != 'idle') {
    <p class="text-sm mt-1 text-end">
      <span class="text-primary">{{ elapsedTime }}</span> elapsed
    </p>
    }

    <!-- progress details -->
    <div class="absolute bottom-0 left-0 w-full px-3 py-1">
      @if (printer.status.toLowerCase() == 'printing') {
      <div class="text-green-500 flex items-center gap-1">
        <i class="text-[8px] fa-solid fa-circle"></i>
        <p class="text-lg">{{ printer.status }}</p>
      </div>
      }@else if (printer.status.toLowerCase() == 'idle') {
      <div class="text-gray-500 flex items-center gap-1">
        <i class="text-[8px] fa-solid fa-circle"></i>
        <p class="text-lg">{{ printer.status }}</p>
      </div>
      }@else if (printer.status.toLowerCase() == 'paused') {
      <div class="text-yellow-500 flex items-center gap-1">
        <i class="text-[8px] fa-solid fa-circle"></i>
        <p class="text-lg">{{ printer.status }}</p>
      </div>
      }
    </div>
  </div>
</div>
