<section
  class="fixed bottom-0 left-[50%] translate-x-[-50%] lg:translate-y-[70%] lg:hover:translate-y-0 lg:transition-transform lg:duration-700 h-20 flexed"
>
  <div
    class="bg-white dark:bg-secondary border border-primary rounded-md px-6 py-3 flexed gap-5"
  >
    <button
      title="Dashboard"
      routerLink="/dashboard"
      routerLinkActive="text-primary"
      class="hover:text-primary cursor-pointer"
    >
      <i class="fa-solid fa-house"></i>
    </button>

    <button
      title="Console"
      routerLink="/console"
      routerLinkActive="text-primary"
      class="hover:text-primary cursor-pointer"
    >
      <i class="fa-solid fa-terminal"></i>
    </button>

    <button
      title="sd card"
      routerLink="/sdCard"
      routerLinkActive="text-primary"
      class="hover:text-primary cursor-pointer"
    >
      <i class="fa-solid fa-sd-card"></i>
    </button>

    <!-- Add router link here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <button
      title="queue list"
      routerLinkActive="text-primary"
      class="hover:text-primary cursor-pointer"
    >
      <i class="fa-solid fa-list-check"></i>
    </button>

    <!-- Add router link here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <button
      title="printer page"
      routerLinkActive="text-primary"
      class="hover:text-primary cursor-pointer"
    >
      <i class="fa-solid fa-gear"></i>
    </button>
  </div>
</section>
