<section
  (click)="onOverlayClick($event)"
  class="fixed inset-0 z-50 bg-black/80 flexed"
>
  <div
    class="modal-content bg-background rounded-md p-5 w-[80%] md:w-[50%] flex flex-col gap-5"
  >
    <h2
      class="text-center text-primary text-lg lg:text-2xl xl:text-3xl mb-5 dark:text-text"
    >
      add new printer
    </h2>
    <p>Connected devices</p>
    <div class="flex flex-col gap-3 my-3 px-7">
      <div
        class="flex flex-wrap items-center justify-center md:justify-between gap-1 m-2"
      >
        <div class="flex items-center gap-2">
          <span
            class="text-primary border border-primary rounded-full w-8 h-8 flexed"
            ><i class="fa-solid fa-print"></i
          ></span>
          <p>AHPX-2300</p>
        </div>
        <button
          class="px-3 py-1 cursor-pointer rounded-md bg-red-500 border-2 border-red-500 text-white hover:text-red-500 hover:bg-white dark:hover:bg-background"
        >
          forget
        </button>
      </div>
    </div>

    <p>Available devices</p>
    <div class="flex flex-col gap-3 my-3 px-7">
      <div
        class="flex flex-wrap items-center justify-center md:justify-between gap-1 m-2"
      >
        <div class="flex items-center gap-2">
          <span
            class="text-primary border border-primary rounded-full w-8 h-8 flexed"
            ><i class="fa-solid fa-print"></i
          ></span>
          <p>AHPX-2300</p>
        </div>
        <button
          class="px-3 py-1 cursor-pointer rounded-md bg-green-500 border-2 border-green-500 text-white hover:text-green-500 hover:bg-white dark:hover:bg-background"
        >
          forget
        </button>
      </div>
    </div>

    <button
      class="bg-primary px-4 py-2 border border-primary rounded-lg text-center self-center cursor-pointer hover:bg-background hover:text-primary dark:bg-background dark:border-text dark:hover:bg-text dark:hover:text-background"
    >
      add manually
    </button>
  </div>
</section>
