@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Outfit;
  src: url(/fonts/Outfit.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Pacifico;
  src: url(/fonts/Pacifico.ttf) format("truetype");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
:root {
  /* font */
  --head-font: "Pacifico";
  /* colors */
  --background-color: #fffaf3;
  --primary-color: #f2b441;
  --secondary-color: #443627;
  --text-color: #4d3200;
}
:root.dark {
  --background-color: #594836;
  --primary-color: #bf6b04;
  --secondary-color: #41372c;
  --text-color: #fad259;
}
@theme {
  --color-background: var(--background-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-text: var(--text-color);
}
body {
  font-family: Outfit, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  /* overflow-y: scroll; Always reserve space for scrollbar */
}
@layer utilities {
  .font-pacifico {
    font-family: Pacifico, sans-serif;
  }
  .flexed {
    @apply flex justify-center items-center;
  }
  .iconBtn {
    @apply bg-white dark:bg-secondary dark:border-0 border-primary border-2 rounded-full p-2 w-9 h-9 hover:bg-primary cursor-pointer;
  }
  .textBtn {
    @apply bg-white dark:bg-secondary dark:border-0 border-primary border-2 rounded-full px-4 h-9 hover:bg-primary cursor-pointer;
  }
}

::selection {
  background: var(--primary-color);
  color: var(--background-color);
}

:root.dark ::selection {
  background: var(--secondary-color);
  color: var(--text-color);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}
