<section class="w-[90%] mx-auto">
  <h2 class="text-4xl mb-6">Printer Page</h2>
  <div class="w-full bg-primary p-3 rounded-md text-background">
    <p class="text-3xl">Statics</p>
    <div class="p-3 md:flex justify-between items-center">
      <div class="text-sm lg:text-md">
        <div class="flexed">
          <p>Extruder: {{ printer.hotend_temperature }}°C /</p>
          <label for="text" class="relative">
            <input
              type="text"
              class="no-spinner ml-1 peer p-1 w-16 rounded-sm bg-background sm:text-sm outline-0 text-secondary dark:text-primary"
              value="0"
              (keydown.enter)="editHeat('hotend', $event)"
            />

            <span
              class="absolute right-1 top-1 text-secondary/70 dark:text-primary/70"
              >°C</span
            >
          </label>
        </div>
        <div class="flex items-center mt-2">
          <p>Heat bed: {{ printer.heatbed_temperature }}°C /</p>
          <label for="text" class="relative">
            <input
              type="text"
              class="no-spinner ml-1 peer p-1 w-16 rounded-sm bg-background sm:text-sm outline-0 text-secondary dark:text-primary"
              value="0"
              (keydown.enter)="editHeat('bed', $event)"
            />

            <span
              class="absolute right-1 top-1 text-secondary/70 dark:text-primary/70"
              >°C</span
            >
          </label>
        </div>
        <div class="p-1 bg-background rounded-md w-fit mt-1">
          @if (printer.status.toLowerCase() == 'printing') {
          <div class="text-green-500 w-fit flexed gap-1">
            <i class="text-[8px] fa-solid fa-circle"></i>
            <p class="text-lg">{{ printer.status }}</p>
          </div>
          }@else if (printer.status.toLowerCase() == 'idle') {
          <div class="text-gray-500 w-fit flexed gap-1 dark:text-gray-200">
            <i class="text-[8px] fa-solid fa-circle"></i>
            <p class="text-lg">{{ printer.status }}</p>
          </div>
          }@else if (printer.status.toLowerCase() == 'paused') {
          <div class="text-yellow-500 w-fit flexed gap-1">
            <i class="text-[8px] fa-solid fa-circle"></i>
            <p class="text-lg">{{ printer.status }}</p>
          </div>
          }
        </div>
      </div>
      @if (this.printer.status.toLowerCase() != 'idle') {
      <div>
        <div>
          <span class="text-7xl">{{ progress }}</span
          >%
        </div>
        <div class="text-sm md:text-end lg:text-md">
          {{ elapsedTime }} elapsed
        </div>
      </div>
      }
    </div>
  </div>

  <div class="py-6 grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- console -->
    <app-air-hive-card [title]="'Console'">
      <div class="lg:col-span-4">
        <div class="bg-white dark:bg-secondary flex flex-col min-h-80 h-96">
          <!-- Console Output -->
          <div
            class="flex-1 overflow-y-auto p-4 rounded-md font-mono text-sm bg-gray-900 text-green-400"
          >
            <!-- System Messages -->
            <div class="mb-2" #el>
              <div class="flex items-start gap-2">
                <div class="flex-1">
                  <div class="text-blue-400">
                    AirHive Console - 3D Printer Management System
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input
            type="text"
            class="w-full p-2 rounded-md text-center bg-background outline-0 mt-3"
            placeholder="enter your command"
            (keydown.enter)="sendCommand($event)"
          />
        </div>
      </div>
    </app-air-hive-card>
    <!-- tools -->
    <app-air-hive-card [title]="'Tools'" class="w-full h-full">
      <div class="flexed gap-3 flex-wrap">
        <div class="grid grid-cols-2 gap-2">
          <!-- the arrow box -->
          <div class="flex flex-col gap-2">
            <div class="flexed">
              <button class="toolsBtn" (click)="moveCoordinate([0, 1, 0, 0])">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
            </div>
            <div class="flexed gap-2">
              <button class="toolsBtn" (click)="moveCoordinate([-1, 0, 0, 0])">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
              <button
                class="w-8 h-8 text-sm border-2 border-secondary dark:border-text rounded-md bg-secondary text-primary cursor-pointer hover:bg-background dark:hover:bg-primary hover:text-secondary"
                (click)="homePrinter(['X', 'Y'])"
              >
                <i class="fa-solid fa-house"></i>
              </button>
              <button class="toolsBtn" (click)="moveCoordinate([1, 0, 0, 0])">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
            <div class="flexed">
              <button class="toolsBtn" (click)="moveCoordinate([0, -1, 0, 0])">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
            </div>
          </div>
          <!-- the vertical arrows -->
          <div class="flex flex-col gap-2">
            <div class="flex gap-2">
              <button class="toolsBtn" (click)="moveCoordinate([0, 0, 1, 0])">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
              <button
                (click)="homePrinter(['all'])"
                class="border-2 h-8 w-15 border-secondary rounded-md bg-secondary text-primary cursor-pointer hover:bg-background hover:text-secondary dark:border-primary dark:hover:bg-primary"
              >
                <i class="fa-solid fa-house"></i> all
              </button>
            </div>
            <div class="flex gap-2">
              <button
                (click)="homePrinter(['Z'])"
                class="w-8 h-8 text-sm border-2 border-secondary dark:border-text rounded-md bg-secondary text-primary cursor-pointer hover:bg-background dark:hover:bg-primary hover:text-secondary"
              >
                <i class="fa-solid fa-house"></i>
              </button>
              <button
                (click)="homePrinter(['X'])"
                class="border-2 h-8 w-15 border-secondary rounded-md bg-secondary text-primary cursor-pointer hover:bg-background hover:text-secondary dark:border-primary dark:hover:bg-primary"
              >
                <i class="fa-solid fa-house"></i> X
              </button>
            </div>
            <div class="flex gap-2">
              <button class="toolsBtn" (click)="moveCoordinate([0, 0, -1, 0])">
                <i class="fa-solid fa-arrow-down"></i>
              </button>
              <button
                (click)="homePrinter(['Y'])"
                class="border-2 h-8 w-15 border-secondary rounded-md bg-secondary text-primary cursor-pointer hover:bg-background hover:text-secondary dark:border-primary dark:hover:bg-primary"
              >
                <i class="fa-solid fa-house"></i> Y
              </button>
            </div>
          </div>
          <div
            class="px-3 py-1 bg-gray-100 dark:bg-background w-fit rounded-md flex gap-3 md:ml-3 col-span-2"
          >
            <button
              (click)="update_xyzPrecision(0.1)"
              [ngClass]="{
                activeBarBtn: xyzPrecision === 0.1,
                'hover:text-primary': xyzPrecision !== 0.1
              }"
            >
              0.1
            </button>
            |
            <button
              (click)="update_xyzPrecision(1)"
              [ngClass]="{
                activeBarBtn: xyzPrecision === 1,
                'hover:text-primary': xyzPrecision !== 1
              }"
            >
              1
            </button>
            |
            <button
              (click)="update_xyzPrecision(10)"
              [ngClass]="{
                activeBarBtn: xyzPrecision === 10,
                'hover:text-primary': xyzPrecision !== 10
              }"
            >
              10
            </button>
            |
            <button
              (click)="update_xyzPrecision(100)"
              [ngClass]="{
                activeBarBtn: xyzPrecision === 100,
                'hover:text-primary': xyzPrecision !== 100
              }"
            >
              100
            </button>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-2">
          <!-- extrude section -->
          <div class="flexed flex-col gap-3 w-70">
            <div class="flex gap-2">
              <label for="text" class="relative">
                <input
                  type="text"
                  class="peer h-11 px-2 w-full rounded border border-primary shadow-sm sm:text-sm"
                  [value]="printer.e_coordinate"
                  disabled
                />

                <span
                  class="absolute bg-white dark:bg-secondary left-2 w-28 -translate-y-2.5 text-center text-primary"
                >
                  extrude length
                </span>
                <span class="absolute right-2 translate-y-2.5 text-primary/70"
                  >mm</span
                >
              </label>
              <button
                (click)="moveCoordinate([0, 0, 0, -1])"
                class="border-2 h-11 px-2 border-secondary rounded-md bg-secondary text-primary cursor-pointer hover:bg-background hover:text-secondary dark:bg-primary dark:text-secondary dark:hover:bg-secondary dark:hover:text-primary dark:border-2 dark:border-primary"
              >
                RETRACT
              </button>
            </div>
            <div class="flex gap-2">
              <label for="Email" class="relative">
                <input
                  type="text"
                  class="peer h-11 px-2 w-full rounded border border-primary shadow-sm sm:text-sm"
                  value="55"
                  disabled
                />

                <span
                  class="absolute bg-white dark:bg-secondary left-2 w-28 -translate-y-2.5 text-center text-primary"
                >
                  extrude speed
                </span>
                <span class="absolute right-2 translate-y-2.5 text-primary/70"
                  >mm/s</span
                >
              </label>
              <button
                (click)="moveCoordinate([0, 0, 0, 1])"
                class="border-2 h-11 px-2 border-secondary rounded-md bg-secondary text-primary cursor-pointer hover:bg-background hover:text-secondary dark:bg-primary dark:text-secondary dark:hover:bg-secondary dark:hover:text-primary dark:border-2 dark:border-primary"
              >
                EXTRUDE
              </button>
            </div>
          </div>
          <div
            class="px-3 py-1 bg-gray-100 dark:bg-background w-fit rounded-md flex gap-3 md:ml-3 col-span-2"
          >
            <button
              (click)="update_ePrecision(0.1)"
              [ngClass]="{
                activeBarBtn: ePrecision === 0.1,
                'hover:text-primary': ePrecision !== 0.1
              }"
            >
              0.1
            </button>
            |
            <button
              (click)="update_ePrecision(1)"
              [ngClass]="{
                activeBarBtn: ePrecision === 1,
                'hover:text-primary': ePrecision !== 1
              }"
            >
              1
            </button>
            |
            <button
              (click)="update_ePrecision(10)"
              [ngClass]="{
                activeBarBtn: ePrecision === 10,
                'hover:text-primary': ePrecision !== 10
              }"
            >
              10
            </button>
            |
            <button
              (click)="update_ePrecision(100)"
              [ngClass]="{
                activeBarBtn: ePrecision === 100,
                'hover:text-primary': ePrecision !== 100
              }"
            >
              100
            </button>
          </div>
        </div>
      </div>
      <!-- x,y,z position and motor off btn -->
      <div class="flexed gap-4 mt-2">
        <label for="text" class="relative">
          <input
            type="text"
            class="peer h-11 px-2 w-full rounded border border-primary shadow-sm sm:text-sm"
            [value]="printer.x_coordinate"
            disabled
          />

          <span
            class="absolute bg-white dark:bg-secondary left-2 w-4 -translate-y-2.5 text-center text-primary"
          >
            X
          </span>
        </label>
        <label for="text" class="relative">
          <input
            type="text"
            class="peer h-11 px-2 w-full rounded border border-primary shadow-sm sm:text-sm"
            [value]="printer.y_coordinate"
            disabled
          />

          <span
            class="absolute bg-white dark:bg-secondary left-2 w-4 -translate-y-2.5 text-center text-primary"
          >
            Y
          </span>
        </label>
        <label for="text" class="relative">
          <input
            type="text"
            class="peer h-11 px-2 w-full rounded border border-primary shadow-sm sm:text-sm"
            [value]="printer.z_coordinate"
            disabled
          />

          <span
            class="absolute bg-white dark:bg-secondary left-2 w-4 -translate-y-2.5 text-center text-primary"
          >
            Z
          </span>
        </label>
        <button
          (click)="motorOff()"
          class="cursor-pointer bg-primary border-2 border-primary rounded-md h-11 w-full hover:bg-background hover:text-primary dark:text-background dark:hover:bg-secondary"
        >
          motor off
        </button>
      </div>
    </app-air-hive-card>
    <!-- files -->
    <app-air-hive-card [title]="'Files'">
      <div class="flex flex-col justify-center gap-2">
        <div
          class="bg-gray-200 h-80 rounded-lg p-5 dark:bg-background overflow-y-auto"
        >
          @for (file of files; track $index) {
          <div
            class="border-b border-gray-300 dark:border-black/20 p-2 flex justify-between items-center"
          >
            <p>{{ file }}</p>
            <div class="flex gap-3">
              <button
                class="p-1 cursor-pointer text-black border-2 hover:text-primary border-primary hover:bg-transparent bg-primary rounded-md"
                (click)="printFile($index)"
              >
                print
              </button>
              <!-- <button
                class="p-1 cursor-pointer text-black border-2 hover:text-red-500 border-red-500 hover:bg-transparent bg-red-500 rounded-md"
              >
                delete
              </button> -->
            </div>
          </div>
          }@empty {
          <div class="flexed h-full">
            <p class="text-gray-500">No files uploaded</p>
          </div>
          }
        </div>

        <div class="flexed gap-2">
          <button
            (click)="refreshFiles()"
            class="text-center cursor-pointer py-1 px-2 bg-primary rounded-md self-center border-2 border-primary hover:bg-transparent hover:text-primary dark:text-secondary"
          >
            refresh files
          </button>
          <!-- <button
            class="text-center cursor-pointer py-1 px-2 hover:bg-primary rounded-md self-center border-2 border-primary text-primary hover:text-text dark:text-secondary"
          >
            upload file
          </button> -->
        </div>
      </div>
    </app-air-hive-card>
  </div>
</section>
